.left_data{
	position:absolute;
	top:0px;
	left: 0px;
	bottom:0px;
	width:300px;
}
.main_data{
	position:absolute;
	top:0px;
	left: 300px;
	right:400px;
	bottom:0px;
	padding: 10px;
}
.right_data{
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	width:400px;
}


.ol-legend{
	position: absolute;
	bottom:35px;
	left:10px;
	z-index: 999;
}
.maptool{
	 position: absolute;
	 left:50px;
     top:10px;
     width: 100%;
     z-index: 999;
}

.panel{
	height: 100%;
	margin-bottom: 0px;
}
 .fx-list{
	height:calc(100%-42px);
}
.map{
	height: calc(100% - 20px);	
}

.left-title {
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding: 0.4em;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
.left-title-link {
	cursor: pointer;
	transform: rotateY(180deg);
	position: absolute;
	left: 70px;
	top: 15px;
	padding-bottom:10px;
	color:white
}

.mapchart{
	height: calc(100%);
}


.right_top{	
	height: calc(33%);
}

.right_middle{
    top:calc(33%);
  	height: calc(33%);
}

.right_bottom{
	top:calc(2*33%);
	height: calc(33%);
	bottom: 0px;
}