html,
body {
	height: 100%;
	width: 100%;
}


/*页面框架*/
.menu {
	position: absolute;
	top: 0;
	padding: 10px 5px 0 5px;
	left: 0;
	bottom: 0;
	width: 199px;
	z-index: 99;
	overflow: auto;
	background-color: rgba(238, 238, 238, 0.98);
	border-right: 1px solid #e5e5e5
}
.page-box{position: absolute;right:0;top: 0;bottom: 0;left:199px; overflow:hidden; z-index:1; background-color:#fff}
.menu,.page-box,.dislpayArrow{-moz-transition: all 0.2s ease 0s;-webkit-transition: all 0.2s ease 0s;-ms-transition: all 0.2s ease 0s;-o-transition: all 0.2s ease 0s;transition: all 0.2s ease 0s}
.big-page .page-box,.big-page .dislpayArrow,.big-page .breadcrumb{left:0px}
.big-page .menu{ left:-200px}
.page-container{ padding:20px}
@media (max-width: 767px) {
	.page-container{ padding:15px}
}
.page-box iframe {
	height: 100%;
	width: 100%;
	border: 0px;
}

/*菜单收缩切换*/
.dislpayArrow{position: absolute;top: 0;bottom: 0;left:200px;width:0px; height:100%;z-index:10}
.dislpayArrow a{ position:absolute; display:block; width:17px; height:61px;top:50%; margin-top:-30px;outline:none;background:url(icon_arrow.png) no-repeat 0 0}
.dislpayArrow a.open{ background-position:0 -61px}
.dislpayArrow a:hover{ text-decoration:none; background-position:right 0;}
.dislpayArrow a.open:hover{background-position:right -61px}


